.weather-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 22vmin);
    justify-content: center;
    align-items: stretch;
    gap: 1.5vmin;
    padding-top: 3vmin;
}

@media screen and (max-width: 576px) {
    .weather-container {
        grid-template-columns: repeat(7, 43vmin);
        overflow: auto;
        white-space: normal;
        justify-content: flex-start;
        align-items: stretch;
        padding: 5vmin;
        padding-left: 18vmin;
        gap: 3vmin;
    }
}